@use "../../scss/variables/index" as var;

footer {
  height: 150vh;
  background-color: var.$tertiary;
}

.blue_bar {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 20vh;
  color: var.$secondary;
  background-color: var.$primary;

  div {
    height: 10vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    margin: 0.5rem;
  }
}

.grey_bar {
  width: 100vw;
  height: 30vh;
  color: var.$primary;
  padding: 1rem;

  h4 {
    padding: 0.25rem 0;
  }

  ul {
    list-style: none;

    li {
      padding: 0.25rem 0;
    }
  }
}

.currency_container {
  width: 100vw;
  height: 5vh;
  border-top: 1px solid Black;
  border-bottom: 1px solid black;
  p {
    text-align: center;
    margin-left: 1rem;
    width: 3rem;
    height: 2rem;
    color: black;
    background-color: #efefef;
    border: 1px solid #767676;
  }
}

.final_part  {
  height: 10vh;
  width: 100vw;
}
