@use "./colors" as var;

@mixin borders {
  border: 5px black solid;
  border-radius: 15px;
  box-shadow: 10px 10px;
}

@mixin tablet {
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
